apiVersion: apps/v1
kind: Deployment
metadata:
  name: asset-gen-api
  namespace: asset-gen-api
  labels:
    app: asset-gen-api
spec:
  selector:
    matchLabels:
      app: asset-gen-api
  template:
    metadata:
      labels:
        app: asset-gen-api
      annotations:
        prometheus.io/path: "/metrics"
        prometheus.io/scrape: 'true'
        prometheus.io/port: '80'
    spec:
      containers:
        - name: asset-gen-api
          image: ghcr.io/jemand771/asset-gen-api:0.0.2
          ports:
            - containerPort: 80
              name: web
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
