resources:
  - ns.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
helmCharts:
  - name: redis
    repo: https://charts.bitnami.com/bitnami
    version: 19.6.4
    releaseName: redis
    namespace: tiktok-embed-fix
    valuesFile: redis-values.yaml
