resources:
  - ns.yaml
  - paperless-claims.yaml
  - paperless-secret.yaml
  - paperless.yaml
  - gotenberg.yaml
  - tika.yaml
helmCharts:
  - name: redis
    repo: https://charts.bitnami.com/bitnami
    version: 21.2.3
    releaseName: redis
    namespace: paperless
    valuesFile: redis-values.yaml
  - name: postgresql
    repo: https://charts.bitnami.com/bitnami
    version: 12.1.2
    releaseName: postgresql
    namespace: paperless
    valuesFile: postgres-values.yaml
