apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  # list of supported config entries: https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
  # language=yaml
  valuesContent: |
    ports:
      web:
        redirectTo: websecure
      websecure:
        http3: {}
    experimental:
      http3:
        enabled: false
    service:
      spec:
        externalTrafficPolicy: Local
      annotations:
        metallb.universe.tf/allow-shared-ip: ipv4s-are-expensive
    additionalArguments:
      - --entryPoints.websecure.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22
    providers:
      kubernetesIngress:
        allowExternalNameServices: true
        # external-dns needs publishedService.enabled to be true
        # https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#which-service-and-ingress-controllers-are-supported
        publishedService:
          enabled: true
      kubernetesCRD:
        allowCrossNamespace: true
        allowExternalNameServices: true
    logs:
      general:
        level: INFO
    metrics:
      prometheus:
        # only router labels are false by default
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
