apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-dns
resources:
  - ns.yaml
  - cloudflare-token.yaml
  - https://github.com/kubernetes-sigs/external-dns//kustomize?ref=v0.17.0
patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: external-dns
    path: patch-env-vars.yaml
